body {
    /* used to change original font of body to  'Times New Roman', Times, serif*/
    font-family: 'Times New Roman', Times, serif;
    /* used to add a margin of 0 */
    margin: 0;
    /* used to have a padding of 0 */
    padding: 0;
    /* used to give background color of light purple */
    background-color: rgb(250, 246, 253);
    /* used to make text dark pink (if you squint enough it can be purple) */
    color:rgb(83, 16, 80);
  }
  h1 {
    /* used to give pink color to h1 text */
    color: rgb(167, 36, 134);
    /* used to align items to center */
    text-align: center;
    /* used to give 10px margin */
    margin: 10px;
  }
  h2 {
    /* used to align items to center */
    text-align: center;
    /* used to make text color blue or purple or even indigo */
    color: rgb(39, 29, 189);
    /* used to change original font of body to Verdana, Geneva, Tahoma, sans-serif*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* used to italicize text */
    font-style: italic;
    /* used to add 10px top margin */
    margin-top: 10px;
  }
  header {
    /* used to arrange space in the stuff in container */
    display: flex;
    /* used to align items to center */
    align-items: center;
    /* used to align justify items to center */
    justify-content: center;
    /* used to defign space between rows and columns */
    gap: 10px;
    /* used to add 10px padding */
    padding: 10px;
  }
  header img {
    /* used to add 128px width */
    width: 128px;
    /* used to add 128px height */
    height: 128px;
  }
  header h1 {
    /* used to color text pink */
    color: rgb(167, 36, 134);
    /* used to add 0px margin */
    margin: 0;
  }
  p {
    
    /* used to add 10px padding */
    padding: 10px;
    /* used to add 20px margin */
    margin: 20px;
    /* used to align items to center */
    text-align: center;
    /* used to make text larger and easier to read */
    font-size: larger;
  transform: scaleX(1);         
    transition: transform 2s; 
}

p:hover {
    transform: scaleX(1.1);        
}
  ul {
    /* used to have no list-styles */
    list-style: none;
    /* used to align items to center */
    text-align: center;
    /* used to add 1px solid black border */
    border: 1px solid black;
    /* used to add 10px padding */
    padding: 10px;
    /* used to add 0px margin */
    margin: 0;
  }
  ul li {
    /* used to flow horizontally with other inline or inline-block elements */
    display: inline;
    /* used to add 10px margin */
    margin: 10px;
  }
  ul li a {
    /* used to have no text-decorations */
    text-decoration: none;
    /* used to nolden text */
    font-weight: bold;
    /* used to color text to blue */
    color: rgb(3, 35, 177);
  }
  img {
    /* used to vertically align image to middle */
    vertical-align: middle;
  }
  .profile {
    /* used to arrange space in the stuff in container */
    display: flex;
    /* used to align items to flex-start */
    align-items: flex-start;
    /* used to make gap 15px */
    gap: 15px;
    /* used to make margin 15px */
    margin: 20px;
  }
  .profile img {
    /* used to make width 250px */
    width: 250px;
    /* used to make height 250px */
    height: 250px;
    /* used to radius of border 8px */
    border-radius: 8px;
  }
  h4 {
    /* used to not let the h4 hoard all the space */
    display: inline;
    /* used to make text pink or purple */
    color: rgb(125, 55, 172);
  }
  .locant {
    /* used to give margin bottom 20px */
    margin-bottom: 20px;
    /* used to give margin left 20px */
    margin-left: 20px;
  }
  .sources {
    list-style-type: disc; 
    padding-left: 40px;                
    margin: 10px auto;
    text-align: left;
    border: none;
    all: revert;
  }
  
  .sources li {
    display: list-item;  
    margin-bottom: 5px;
    all: revert;
    text-decoration: underline;
    color:rgb(92, 34, 131);
  }
  .sources a {
    color:rgb(64, 13, 112);
    font-size: smaller;

  }
/* basically normal link */
a:link {
  color: rgb(3, 35, 177);
}

/* visited link */
a:visited {
  color: rgb(204, 0, 255);
}

/* when you hover mouse over link */
a:hover {
    color: #660000;
    background-color: #e6eeff;
}

/* selected link yeah */
a:active {
  color: #000080;
}

.sprite {
    width: 100px;
  height: 100px;
  
}

