body {
    /* used to change original font of body to  'Times New Roman', Times, serif*/
    font-family: 'Times New Roman', Times, serif;
    /* used to add a margin of 0 */
    margin: 0;
    /* used to have a padding of 0 */
    padding: 0;
    /* used to give background color of light purple */
    background-color: rgb(250, 246, 253);
    /* used to make text dark pink (if you squint enough it can be purple) */
    
  }
  header {
    /* used to arrange space in the stuff in container */
    display: flex;
    /* used to align items to center */
    align-items: center;
    /* used to align flexible items to center */
    justify-content: center;
    /* used to defign space between rows and columns */
    gap: 10px;
    /* used to give padding of 10px */
    padding: 10px;
  }
  header img {
    /* used to give width of 128 px */
    width: 128px;
    /* used to give height of 128px */
    height: 128px;
  }
  header h1 {
    /* used to give pink color to h1 text */
    color: rgb(167, 36, 134);
    /* used to give 0px margin */
    margin: 0;
  }
  nav ul {
    /* used to set all list properties to none */
    list-style: none;
    /* used to align text to center */
    text-align: center;
    /* used to give padding of 10px */
    padding: 10px;
    /* used to give 0px margin */
    margin: 0;
    /* used to give 1px black solid border */
    border: 1px solid black;
  }
  nav ul li {
    /* used to flow horizontally with other inline or inline-block elements */
    display: inline;
    /* used to give 10px margin */
    margin: 10px;
  }
  nav ul li a {
    /* used to set 0 text decorations */
    text-decoration: none;
    /* used to color text to blue */
    color: rgb(3, 35, 177);
    /* used to make fonts bold */
    font-weight: bold;
  }
  p {
   
    /* used to give 10px padding */
    padding: 10px;
    /* used to give 20px margin */
    margin: 20px;
    /* used to align text to center */
    text-align: center;
    /* used to make font-size larger and more readable */
    font-size: larger;
  }
  table {
    /* used to give 5px blue border */
    border: 5px solid rgb(21, 50, 129);
    /* used to make border-radius 5px */
    border-radius: 12px;
    /* used to give auto margin */
    margin: auto;
    /* used to give 5px padding */
    padding: 5px;
    /* used to align text to center */
    text-align: center;
    /* used to collapse border */
    border-collapse: collapse;
  }
  table th, table td {
    /* used to give 1px black solid border */
    border: 1px solid black;
    /* used to give 8px and 12 px padding */
    padding: 8px 12px;
  }
  .sdg-images {
    /* used to align text to center */
    text-align: center;
    /* used to give 20px margin */
    margin: 20px;
  }
  
  .sdg-images img {
    /* used to make width 300px */
    width: 300px;
    /* used to make height 300px */
    height: 300px;
    /* used to give 5px margin */
    margin: 5px;
  }
  .cta {
    /* used to make color purple or pink*/
    color: rgb(125, 55, 172);
    /* used to align text to center */
    text-align: center;
    /* used to make text bold */
    font-weight: bold;
    /* used to give 20px margin */
    margin: 20px;
    border: 2px solid rgb(39, 29, 189);
    /* used to make top of border style double */
    border-top-style: double;
    /* used to make border-radius 5px */
    border-radius: 5px;
  }

a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}




